<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: #f54768"
>
  <div class="container-fluid" style="color: #eaebed">
    <i class="fa-solid fa-bowl-food fa-xl me-md-2"></i>
    <a class="navbar-brand fs-4 fw-bold" style="color: #eaebed" routerLink=""
      >Cooksplace</a
    >

    <div class="d-flex order-lg-2">
      <ul class="navbar-nav">
        <li class="nav-item dropdown me-3">
          <a
            class="nav-link dropdown-toggle"
            style="color: #eaebed;"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
          <i class="fa-solid fa-user fa-xl"></i>
          @if (username.length>0) {
            <span class="fw-bolder ms-3 me-2 fs-5 text-dark" >{{username}}</span>
          }
            
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdown"
            style="background-color: #eaebed; color: #f54768"
          >
          @if (username.length>0) {
            <li><a class="dropdown-item" routerLink="/login">Update Profile</a></li>
            <li><a class="dropdown-item" routerLink="/savedrecipes">Saved Recipes</a></li>
            <li><a class="dropdown-item text-danger" (click)="logout()">Logout <i class="fa-solid fa-right-from-bracket ms-1"></i></a></li>
          }@else {<li><a class="dropdown-item" routerLink="/login">Login</a></li>
          <li><a class="dropdown-item" routerLink="/reg">Register</a></li>}
            
          </ul>
        </li>
      </ul>
      <button
        class="navbar-toggler d-lg-none"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div
      class="collapse navbar-collapse justify-content-lg-center"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active fs-5 me-1 me-md-2 text-dark"
            
            aria-current="page"
            routerLink=""
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link fs-5 me-1 me-md-2 text-dark"
            
            routerLink="/recipes"
            >Recipes</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link fs-5 me-1 me-md-2 text-dark"
            
            routerLink="/about"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link fs-5 me-1 me-md-2 text-dark"
            
            routerLink="/contact"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
