<div class="container-fluid" style="min-height: 400px; background-color: #f54768">
    <div class="row">
      <div class="col-lg-4">
        <div class="d-flex gap-2 align-items-center m-4" style="color: #eaebed;">
          <i class="fa-solid fa-bowl-food fa-xl"></i>
          <a class="navbar-brand fs-2 fw-bold" style="color: #eaebed;" routerLink=""
            >Cooksplace</a
          >
        </div>
        <p class="m-4 fs-4" style="color: #eaebed;">
          Discover 100+ recipes in your hand with the best recipe. Help you find
          the easiest way to cook
        </p>
      </div>
      <div class="col-lg-3"></div>
      <div class="col-lg-5">
        <div class="d-flex flex-column m-4 gap-3">
          <h3 style="color: #eaebed;">Sign up for our news letter</h3>
          <div class="d-flex align-items-center gap-3">
            <input
              type="text"
              class="form-control"
              placeholder="Enter your email"
              style="background-color: #eaebed;"
            />
            <button class="btn btn-outline-light">
              <i class="fa-solid fa-arrow-right fa-lg"></i>
            </button>
          </div>
          <div class="row mt-5">
            <div class="col-lg-3">
              <div class="d-flex flex-column gap-2">
                <h5 class=" mt-3 mt-md-0" style="color: #eaebed;">Menu</h5>
                <a routerLink="" class="text-decoration-none text-light">Home</a>
                <a routerLink="/recipes" class="text-decoration-none text-light"
                  >Recipe</a
                >
                <a routerLink="/login" class="text-decoration-none text-light">Login</a>
                <a routerLink="/reg" class="text-decoration-none text-light" 
                  >Register</a
                >
              </div>
            </div>
            <div class="col-lg-3">
              <div class="d-flex flex-column gap-2">
                  <h5 class="mt-3 mt-md-0" style="color: #eaebed;">Help</h5>
                  <a routerLink="" class="text-decoration-none text-light" >Policy & Privacy</a>
                  <a routerLink="" class="text-decoration-none text-light" 
                    >Terms of Use</a
                  >
                  <a routerLink="/about" class="text-decoration-none text-light">About</a>
                  <a routerLink="/contact" class="text-decoration-none text-light"
                    >Contact Us</a
                  >
                </div>
            </div>
            <div class="col-lg-3">
              <div class="d-flex flex-column gap-2">
                  <h5 class="mt-3 mt-md-0" style="color: #eaebed;">Social Media</h5>
                  <div class="d-flex align-items-center gap-4">
                      <a routerLink="" class="text-decoration-none text-light"><i class="fa-brands fa-facebook fa-xl"></i></a>
                      <a routerLink="" class="text-decoration-none text-light"
                        ><i class="fa-brands fa-instagram fa-xl"></i></a
                      >
                      <a routerLink="" class="text-decoration-none text-light"><i class="fa-brands fa-x-twitter fa-xl"></i></a>
                      <a routerLink="" class="text-decoration-none text-light"
                        ><i class="fa-brands fa-youtube fa-xl"></i></a
                      >
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row bg-dark p-1">
        <div class="d-flex justify-content-center align-items-center"><h6 class="text-light m-1"><span class="fs-5 me-2">&#169;</span>Copyrights by Cooksplace 2025</h6></div>
    </div>
  </div>
  